@import url("https://fonts.cdnfonts.com/css/big-shoulders-display");
@import url("https://fonts.cdnfonts.com/css/outfit");
@import "tailwindcss";

@theme {
	/* art gallery breakpoints */
	--breakpoint-xl: 90rem;

	/* art gallery fonts */
	--font-big-shoulders-display: "Big Shoulders Display", sans-serif;
	--font-outfit: "Outfit", sans-serif;

	/* art gallery colors */
	--color-art-white: #ffffff;
	--color-art-gray-700: #444444;
	--color-art-gray-900: #151515;
	--color-art-gold-500: #d5966c;
}

@layer components {
	/* art gallery typography */
	.art-typo-1 {
		@apply text-6xl leading-[90%] font-black;

		@variant md {
			@apply text-[4.375rem];
		}

		@variant xl {
			@apply text-8xl;

			word-spacing: -5px;
			letter-spacing: 0.25px;
		}
	}
	.art-typo-2 {
		@apply text-[3.4375rem] leading-[90%] font-black;

		@variant xl {
			@apply text-[4.375rem] leading-[100%];
		}
	}
	.art-typo-3 {
		@apply text-[3.125rem] leading-[90%] font-black;

		@variant xl {
			@apply text-6xl leading-[100%];
		}
	}
	.art-typo-4 {
		@apply text-4xl leading-[100%] font-black;
	}
	.art-typo-5 {
		@apply text-lg leading-[140%] font-light;

		@variant xl {
			@apply text-[1.375rem];
		}
	}
	.art-typo-6 {
		@apply text-xl leading-[100%] font-extrabold tracking-[3.64px];
	}
	.art-typo-7 {
		@apply text-lg leading-[140%] font-light;
	}

	/* art gallery logo */
	.art-logo {
		@apply min-h-10 min-w-27.75;

		@variant xl {
			@apply min-h-14.5 min-w-40.25;
		}
	}

	/* art gallery buttons */
	.art-btn {
		@apply bg-art-gray-900 text-art-white font-big-shoulders-display flex items-center text-xl leading-[100%] font-extrabold tracking-[3.64px] uppercase transition;

		@variant * {
			@variant first {
				@apply px-8 py-6;
			}

			@variant last {
				@apply bg-art-gold-500 flex items-center justify-center self-stretch px-6 transition;
			}
		}

		@variant hover {
			@apply bg-art-gold-500 text-art-white cursor-pointer;

			@variant * {
				@variant last {
					@apply bg-art-gray-900;
				}
			}
		}

		@variant focus {
			@apply outline-art-gold-500 outline-4 outline-offset-3;
		}
	}

	/* art gallery icons */
	.art-icon {
		@apply flex size-6 items-center justify-center transition;

		svg {
			@apply fill-current;
		}

		@variant hover {
			@apply scale-110;
		}
	}
}
